<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<nav th:replace="fragments/header :: nav('home')"></nav>
<main role="main" class="container">
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Contracts Management System</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4" th:text="#{index.promo}">A simple contracts management system that helps you keep the
                overview over all your active contracts, subscriptions etc.</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img th:src="@{/images/screenshot.png}" class="img-fluid border rounded-3 shadow-lg mb-5"
                     alt="Screenshot" width="700" loading="lazy">
            </div>
        </div>
    </div>
    <div class="container px-4">
        <div class="row">
            <div class="col-sm mb-3">
                <table>
                    <tr>
                        <td class="align-top">
                            <i class="bi bi-calendar-date text-dark me-3" style="font-size: 2rem;"></i>
                        </td>
                        <td>
                            <div th:text="#{index.promo.dates}">
                                Add the start date, duration &amp; cancel notice period to never miss cancelling a
                                subscription
                                in time
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm mb-3">
                <table>
                    <tr>
                        <td class="align-top">
                            <i class="bi bi-piggy-bank text-dark me-3" style="font-size: 2rem;"></i></td>
                        <td>
                            <div th:text="#{index.promo.bonus}">
                                Track the state of the cashback, bonus &amp; rewards that they promised!
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm mb-3">
                <table>
                    <tr>
                        <td class="align-top">
                            <i class="bi bi-search text-dark me-3" style="font-size: 2rem;"></i></td>
                        <td>
                            <div th:text="#{index.promo.search}">
                                Use the fulltext search to quickly find exactly the contract you are looking for
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>