<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<nav th:replace="fragments/header :: nav('register')"></nav>
<main role="main" class="container" style="max-width: 330px;">
    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
    <form th:action="@{/register}" method="post" class="needs-validation" novalidate>
        <h3 class="mb-4 fw-normal" th:text="#{register.title}">Register new account</h3>
        <div class="mb-3">
            <label for="username" class="form-label" th:text="#{login.username}">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="mail" class="form-label" th:text="#{register.email}">eMail</label>
            <input type="email" class="form-control" id="mail" name="mail" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" th:text="#{login.password}">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div><input type="submit" th:value="#{register.action.register}" value="Register"
                    class="btn btn-lg btn-primary mt-4"/></div>
    </form>
</main>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: formvalidation"></div>
</body>
</html>